
.button {

    -fx-background-color: rgb(255, 82, 58);
    -fx-text-fill: rgb(227, 227, 227);
}


.text-field {
    -fx-background-color: rgb(23, 25, 24);
    -fx-text-fill: #f4fff5;
    -fx-prompt-text-fill: #8d908f;
}

.anchor-pane {
    -fx-background-color: rgb(4, 6, 5);
}

.list-view .list-cell:even {
    -fx-background-color: rgb(255, 82, 58);
    -fx-text-fill: rgb(227, 227, 227);
}

.list-view .list-cell:odd {
    -fx-background-color: rgb(227, 227, 227);
    -fx-text-fill: black;
}
