@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans');
}

.label {
    -fx-font-family: 'Open Sans';
    -fx-font-size: 50;
}

.button .text {
    -fx-font-family: 'Open Sans';
    -fx-font-size: 14;
}
